.git
.gitignore
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db-journal
.pytest_cache/
.dist/
build/
dist/
node_modules/
data/*-journal
v.git
.gitignore
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db-journal
.pytest_cache/
.dist/
build/
dist/
node_modules/
data/*-journal
