# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment directories
venv/
.env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytestdebug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs, local settings, secrets
*.log
*.env
local_settings.py

# SQLite / databases
*.sqlite3
*.db
*.sqlite

# Misc
.DS_Store
Thumbs.db
common/*.yaml
